<footer >
<div class="container">
<div class="footer-Left">
<ul class="footer-nav">
    <li class="nav-item">
    <a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
    </li>

    <li class="nav-item">
    <a class="nav-link" href="{{url_for('about')}}">About Us</a>
    </li>
    
    <li class="nav-item">
    <a class="nav-link" href="{{url_for('products')}}">Order Now</a>
    </li>
</ul>
</div>
<div class="footer-right">
</div>
</div>


</footer>