{% extends 'layout.html' %}
{% block body %}


  <div class="product-container">
    <a class="shop" href="/product">
      <div class="shop-image" style="background-image:url(static/images/pizzahut.jpg);"></div>
      <div class="shop-description">
        <h5>PizzaHut</h5>
        <p>Just like any other successful enterprise, there’s always an interesting story to tell for each. Pizza Hut - the largest and the most successful pizza restaurant chain in the world - certainly has one of its own. In short, in 1958, two college students from Wichita, Kansas, were approached by a family friend about opening a pizza parlor in their neighborhood.  </p>
      </div>
    </a>
    <a class="shop" href="/product">
      <div class="shop-image" style="background-image:url(static/images/mc.jpg);"></div>
      <div class="shop-description">
        <h5>Mcdonald</h5>
        <p>What goes into our food? Nothing but quality ingredients. Food safety is McDonald's priority and we employ stringent procedures to source ingredients through our global network of suppliers. All ingredients and food are processed in our kitchens according to McDonald's Gold Standards which detail strict requirements for quality, appearance, taste. texture and food safety. </p>
      </div>
    </a>
    <a class="shop" href="/product">
      <div class="shop-image" style="background-image:url(static/images/kfc.jpg);"></div>
      <div class="shop-description">
        <h5>KFC</h5>
        <p>KFC Corporation, based in Louisville, Kentucky, is the world's biggest chicken restaurant chain. specializing in Original Recipe. Hot & Spicy. BBQ Honey Wings and Zinger Burger. </p>
      </div>
      </a>
    </div>




{% endblock %}